.list {
	@apply flex flex-col justify-between items-center m-auto h-full transition-all duration-200 ease-in-out rounded-lg;
	width: 100%;
	max-width: 350px;
	box-shadow: 0px 4px 24px 0px #7b7b7b26;
}

.list:hover {
	box-shadow: 0px 0px 20px 10px #7b7b7b26;
	transform: scale(1.03);
}
.imageDiv {
	@apply m-auto flex justify-center items-center pb-5 flex-1 sm:mt-0 rounded-lg;
}
.image {
	@apply rounded-none rounded-t-lg border-gray-300 border border-b-0;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
}
.title {
	@apply text-center mx-3;
}
.bottom {
	@apply flex py-5 justify-end w-full p-5;
	color: #56b280;
}
.cart {
	transition: all 0.6s ease;
	margin-right: 16px;
	cursor: pointer;
}

.cart:hover > svg {
	transform: scale(1.2);
}
.alert {
	@apply text-red-600;
}
