.contain {
	max-width: 1100px;
	@apply mx-auto p-4 py-32;
}
.order {
	@apply rounded-lg bg-white p-8;
}
.lead {
	@apply text-center text-gray-700 text-3xl mb-8;
}
.aboutCard {
	@apply flex justify-center items-center flex-col mb-8 shadow-md p-4 rounded-lg bg-gray-100;
}
.row {
	@apply flex md:gap-4 w-full justify-center items-center h-full border-b flex-col md:flex-row;
	max-width: 800px;
}
.row:last-child {
	@apply border-b-0;
}
.col,
.col2 {
	@apply flex-1 w-1/2 text-lg mt-5 mb-2;
}
.col2 {
	@apply md:text-left text-center;
}
.col {
	@apply md:text-right text-center  font-semibold;
}
.underline {
	color: #56b280;
}
/* card section */
.items {
	@apply flex gap-4 flex-wrap items-stretch;
}
.item {
	@apply flex flex-col justify-between m-auto transition-all duration-200 ease-in-out rounded-lg mb-6;
	width: 100%;
	max-width: 300px;
	height: 500px;
	box-shadow: 0px 4px 24px 0px #7b7b7b26;
}
.imageDiv {
	@apply m-auto flex justify-center items-center pb-5 flex-1 sm:mt-0 rounded-lg;
}
.image {
	@apply rounded-none rounded-t-lg;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
}
.itemName {
	@apply text-lg m-3;
}
.innerRow {
	@apply flex w-full justify-around   mb-3;
}
