.category,
.wish,
.cart {
	@apply pt-28;
}
.cart {
	@apply flex flex-col sm:flex-row;
}
.checkout {
	@apply flex justify-center items-center;
}
.col {
	@apply flex-1 px-5;
}
.cardDetail {
	@apply w-full h-full bg-gray-700;
}
.checkout {
	@apply p-4;
}
/* ----------------------------------------------------------------
                            thanks
------------------------------------------------------------------- */

.thanks {
	max-width: 800px;
	@apply mx-auto text-center flex justify-center items-center flex-col py-10;
}
.svg {
	color: #56b280;
	width: 150px;
	height: 150px;
}
.thanksLead {
	@apply text-5xl mb-3 mt-3;
}
.orderNum {
	color: #56b280;
	@apply text-xl mb-4;
}
.successText {
	@apply text-gray-500;
}
.out {
	@apply text-gray-700 border border-gray-300 mb-2 text-sm p-1 rounded px-2 bg-green-100;
}
.backToShop {
	@apply text-xl mx-auto mt-4 mb-16 border-b border-green-700 py-1 text-green-600;
}

.logo {
	margin: auto;
	padding-top: 40px;
	margin-bottom: 20px;
	width: 100px;
}
.categoryLead {
	@apply py-32 text-3xl text-center text-gray-700 w-full px-10;
}
.categoryGreen {
	@apply font-semibold;
	color: #56b280;
}
.search {
	@apply pt-24 w-full;
}
.searchInput {
	@apply flex justify-center items-center w-full flex-1;
}
.Input {
	@apply p-4 px-7 my-4 outline-none rounded-full ml-14 border;
	border-color: #56b280;
}
.searchButton {
	@apply text-4xl relative right-14;
}
.glob {
	animation: glob 3s linear infinite forwards;
}
@keyframes glob {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.nav {
	@apply bg-green-400 h-16 flex relative left-0 right-0;
}
.openButton {
	@apply transition transform ease-linear duration-500 text-gray-100 w-10 h-10 mt-3 rounded-full focus:outline-none ml-10  hover:text-gray-800;
}
.adminLogo {
	@apply mx-4 text-gray-50 text-3xl font-bold mt-4;
}
.link {
	@apply flex mr-5 text-gray-50 transition-all text-center ml-auto my-5 hover:text-gray-800;
}
