.container {
	background-color: white;
	padding: 0 20px;
}
.hero {
	@apply mt-16 flex-col-reverse flex justify-center items-center sm:flex-row sm:h-screen pt-24 sm:pt-0;
	max-width: 1300px;
	margin: 0 auto;
}
.content {
	@apply flex flex-col justify-center items-center flex-1;
}
.heading {
	@apply text-4xl font-bold mb-4 text-center mt-5;
	color: #0b254bb3;
	font-family: 'Poppins';
}
.shopButton {
	@apply text-center bg-green-400 text-white font-bold py-2 px-4 rounded;
	padding: 8px 44px;
	max-width: 310px;
	width: 70%;
	margin-top: 30px;
	color: white;
	transition: all 0.3s ease-in-out;
	margin-bottom: 23px;
}
.leadText {
	@apply text-center mt-2;
	color: #0b254bb3;
}
.image {
	@apply flex-1;
	width: 350px;
	object-fit: contain;
	right: 170px;
}
.box {
	max-width: 730px;
	width: 90%;
	min-height: 349px;
	background: rgba(247, 248, 250, 0.6);
	backdrop-filter: blur(40px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 2px;
	padding: 10px;
	@apply flex justify-center items-center flex-col;
}
.heading {
	@apply text-4xl font-bold mb-4 text-center mt-5;
	color: #1d252c;
	font-family: 'Poppins';
}
.emo {
	@apply block;
}
.text {
	@apply text-center;
	color: #1d252c;
}
.button {
	background: #56b280;
	border-radius: 4px;
	padding: 8px 44px;
	max-width: 310px;
	width: 80%;
	border: 2px solid #56b280;
	margin-top: 45px;
	color: white;
	transition: all 0.3s ease-in-out;
	margin-bottom: 23px;
}
.button:hover {
	background: #00000000;
	color: #56b280;
	font-weight: bold;
}
